.record-table {
    max-width: 600px;
}

.break-anywhere {
    line-break: anywhere;
}

.btn-clipboard {
    /* todo use variables*/
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: .65em;
}

.no-wrap-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}